# Node.js
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnp
.pnp.js

# Git warnings
*.cjs
*.d.ts
*.d.cts

# Logs & Reports
*.log
logs/
report-*.json

# OS generated
.DS_Store
Thumbs.db
